
*{
	margin:0;
	padding:0;
}
html{
	font-size: 7.575757576vw;
}
@media screen and (max-width: 320px) {
    html{}
}
@media screen and (min-width: 540px) {
	html{font-size: 30px;}
}
img{
	width:100%;
	display: block;
}
.main{
	margin:0 auto;
	max-width: 540px;
	min-width: 320px;
}
nav ul{
	display: flex;
	flex-direction: row;
	list-style: none;
	justify-content: space-around;
	font-size: 0.12rem;
}
nav li {
	padding:0.25rem;
}
nav ul li a{
	font-size: 0.25rem;
	color:#734713;
	text-decoration: none;
}
.fen1{
	display: flex;
	flex-direction: row;
}
.fen2{
	padding:0 0.7rem;
	display: flex;
	flex-direction: row;
}
.mb40{
	margin-bottom: 0.4rem;
}
.mb80{
	margin-bottom:0.8rem;
}
.mb120{
	margin-bottom: 1.2rem;
}

/* project-sub. */

.project-nav{
	height: 1rem;
	line-height: 1rem;
	border-bottom:1px solid #b2b2b2;
	display: flex;
	flex-direction: row;
	background: #f0f0f0;
}
.project-nav a{
	text-align: center;
	width:3rem;
	font-size: 0.3rem;
	text-decoration: none;
	color:#737373;
	
}
.project-nav a.current{
	color:#a40000;
	background: #d1d1d1;
}
.project-3column{
	padding:0 0.5rem;
	display: flex;
	flex-direction: row;
}
.project-3column a{
	text-align: center;
	font-size: 0.3rem;
	text-decoration: none;
	color:#fff;
}
.project-3column p.current{
	background: #a40000;
}
.project-3column p{
	background: #000;
	padding:0.2rem 0;
}
.m20{
	margin:0 0.1rem;
}

/* service-sub-3 */
.service-sub-3-con{
	display: flex;
}
.service-sub-3-left{
	display: flex;
	width:3.67rem;
	padding-top:0.6rem;
	flex-direction: column;
}
.service-sub-3-left a{
	padding:0.06rem 0.3rem;
	margin:0.2rem 0 0 0.3rem;
	font-size: 0.2rem;
	text-decoration: none;
	color:#5d5d5d;
	border-left:3px solid #fff;
}
.service-sub-3-left a.current{
	border-left:3px solid #b50000;
}
.service-sub-3-right{
	width: 9.53rem;
}